

.open{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  
    padding: $breakpoint-7 0 ;
  
   
}

.open .section-title h1{
    font-size: 42px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.2px;
   
    
}
.open .section-title{
    padding:0;
    
    

}

.open-top{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding: $breakpoint-6 $breakpoint-5;
    background-color: $grey-backgroundcolor;
    
}
.open-btn .primairy-button{
    width: 232px;
    height: 52px;
    text-align: center;
    padding-top:14px;
    margin-top: $breakpoint-4;
    
}