.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 9999;
  background-color: $dark-backgroundcolor;
  

}



.header-div {
  order: 2;
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: $breakpoint-3;
  
}
.login{ 
 
  width: 139px;
  height: 52px;
  padding: 0 39px;
 
 
}
.login p {  
  
}

