$primary-color:#4452FE;
$secondairy-color:#02E4C0;
$third-color:#112D57;
$white: #fff;


$text-color:#000000;
$secondairy-textcolor:#FFFFFF;
$dark-secondairy-color:#5C5C5C;
$light-grey-backgroundcolor:#343434;
$grey-backgroundcolor:#1E1E1E;



$lighthover-backgroundcolor:#FFFFFF;

$dark-backgroundcolor:#181818;
$light-backgroundcolor: #FFFFFF;

$breakpoint-1:0.25rem;
$breakpoint-2:0.5rem;
$breakpoint-3:1rem;
$breakpoint-4:2rem;
$breakpoint-5:4rem;
$breakpoint-6: 6.5rem;
$breakpoint-7: 15rem;

$padding-button-top-bottom: 18px;
$padding-button-left-right: 46px;

$Rubik:  'Rubik', sans-serif;




