
* {
    font-family: $Rubik;
  
}

body{
    max-width: 1400px;
    margin: 0 auto ;
	  padding: 0;
    background-color: $white;
    max-height: 100vh;
    width: 100vw;
  
  
}
.container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto ;
	  padding: 0;
    min-height: 100%;
    width: 100vw;
    overflow: hidden;
    
   
}

img{
    max-width: 100%;
}

h1{
    size: 42px;
    font-weight: 300;
    line-height: 62px;
    color: white;
    letter-spacing: 0.2;
  }
  h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: $secondairy-textcolor;
  }
p{
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    padding: 0 $breakpoint-4;
}
li {
    list-style: none;
  }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto ;
    text-decoration: none;
  }
  